<head>
  <title>UMass 320 WebApp</title>
  <style>
    .create {
      text-align: center;
    }
    #table-container {
      padding-top: 50px;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
    }
    table, th, td {
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
    }
    th{
      background-color: #ADADAD;
      color: black;
      text-align: center;
    }
    table tr:nth-child(even) {
      background-color: #eee;
    }
    table tr:nth-child(odd) {
      background-color: #fff;
    }
    h3#title {
      text-align: center;
    }
    #usertable thead {
      cursor: pointer;
    
    }
    #usertable thead tr th.headerSortUp span {
      background-image: url('up-arrow.png');
    }
    #usertable thead tr th.headerSortDown span {
      background-image: url('down-arrow.png');
    }
  </style>

  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>

 {{!--  Tablesort didn't work so I decided to use DataTable instead --}}
  <script type="text/javascript">
    $(document).ready(function () {
        $("#usertable").DataTable({

        });
        $("#usertable2").DataTable({

        });
    });
  </script>
</head>

<body>
  <div class="create">
    <h3>Create An Account</h3>
    <form method="post" action="http://localhost:3000/api/user/register"> {{!-- <--- THIS MAY NOT BE THE RIGHT ACTION --}}
      Username: <input type="text" name="username"> <br>
      Password:  <input type="password" name="passwordhash"> <br>
      Admin:
      <select name="admin">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <br>
      <button>Add Account</button>
    </form>
  </div>

  <div id="table-container">
    <h3 id="title">Account List</h3>

    {{!-- THIS WILL NEED TO BE REDONE USING THE TABLE IN db/users.js --}}
    {{!-- STRAIGHT FROM DATABASE - USER ATTRIBUTES? --}}
    {{!-- properties_array["USER"] = "CREATE TABLE USER( ID INTEGER PRIMARY KEY NOT NULL, USERNAME TEXT NOT NULL, PASSWORDHASH NOT NULL, FOREIGN KEY(ID) references SAVEDSEARCHES(USERID), FOREIGN KEY(ID) references PRIVILEGES(USERID) )"; --}}

    {{!-- We'll need to do account actions somewhere else. --}}

    {{!-- WE'LL NEED TO REDO THIS FOR ALL ACCOUNTS IN THE DATABASE --}}
    <table id="usertable" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Password Hash</th> {{!-- THIS COULD BE REMOVED --}}
          <th>Saved Searches</th> {{!-- THIS COULD BE REMOVED --}} {{!-- PROBABLY NOT AN INT? --}}
          <th>Privileges</th> {{!-- PROBABLY NOT AN INT? --}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>usernametest</td>
          <td>dbasdjdah</td>
          <td>63</td>
          <td>73</td>
        </tr>
        <tr>
          <td>2</td>
          <td>alphausernametest</td>
          <td>jfabobe</td>
          <td>24</td>
          <td>6</td>
        </tr>
        <tr>
          <td>3</td>
          <td>gammausernametest</td>
          <td>aonadjd</td>
          <td>257</td>
          <td>27</td>
        </tr>
      </tbody>
    </table>

   {{!--  THIS IS THE LOCAL TESTING TABLE --}}
    <table id="usertable2" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Password Hash</th> {{!-- THIS COULD BE REMOVED --}}
          <th>Saved Searches</th> {{!-- THIS COULD BE REMOVED --}} {{!-- PROBABLY NOT AN INT? --}}
          <th>Privileges</th> {{!-- PROBABLY NOT AN INT? --}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>usernametest</td>
          <td>dbasdjdah</td>
          <td>63</td>
          <td>73</td>
        </tr>
        <tr>
          <td>2</td>
          <td>alphausernametest</td>
          <td>jfabobe</td>
          <td>24</td>
          <td>6</td>
        </tr>
        <tr>
          <td>3</td>
          <td>gammausernametest</td>
          <td>aonadjd</td>
          <td>257</td>
          <td>27</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
