<head>
	<title>UMass 320 WebApp</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body>
	<center>
		<h1>Login</h1>
		
		<img src='http://i1.wp.com/www.techrepublic.com/bundles/techrepubliccore/images/icons/standard/icon-user-default.png' 
		style="width:300px;height:300px;" align="middle">
	
		<div>
		<p>{{message}}</p>
		</div> 
	
		<!--<form action="http://localhost:3000/api/user/login", method="post">-->
		<form method="post">
			Username: <input type="text" name="username" placeholder="Username"><br>
			Password: <input type="password" name="password" placeholder="Password"><br>
			<input type="Submit" value="Login" Width="90px">
			<a href="/help" class="button">?</a> <br>
		</form>
		<button type="button" onClick="alert("Void Button")">Login As Guest</button>
	</center>
</body>