<head>
	<title>UMass 320 WebApp</title>
	<style>
		p{
			line-height:20px; 
		}
	</style>
</head>

<body>
	<center>
		<h1>Login</h1>
		
		<img src='https://revolutionarystudents.files.wordpress.com/2015/10/maxresdefault.jpg' 
		style="width:480px;height:270px;" align="middle">
	
		<div>
		<p>{{message}}</p>
		</div> 
	
		<form method="post">
			Username: <input type="text" name="username" placeholder="Username"><br>
			Password: <input type="password" name="password" placeholder="Password"><br>
			<input type="Submit" value="Submit" Width="90px">
			<a href="/help" class="button">?</a> <br>
		</form>
		<button type="button" onClick="alert("Void Button")">Login As Guest</button>
	</center>
</body>