<h1>Map</h1>

<div class="container">

<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/ashablygin.ocg5flkb/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiYXNoYWJseWdpbiIsImEiOiJjaWhwM2R4YWEwMWhwdDZtNGxuMXVobjYwIn0.wKvqtULva4f_BiM5KgWZYQ'></iframe>


</div><!-- container -->


<style>
#map { position:absolute; top:0; bottom:0; width:100%; }

.container{
    width: 800px;
    margin: 0 auto;
}