
<h1>Map</h1>


<div id='map'></div>
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiYXNoYWJseWdpbiIsImEiOiJjaWhwM2R4YWEwMWhwdDZtNGxuMXVobjYwIn0.wKvqtULva4f_BiM5KgWZYQ';
var map = L.mapbox.map('map', 'ashablygin.ocg5flkb')
    .setView([42.474, -72.598], 13);
</script>



<style>
#map { margin-top: 25px; width:100%; height: 800px; }
