
<h1>Map</h1>
<button style="float: right;" onclick="updateMap()">Retry Database</button>
<div id='border' style='padding:5%'>
<div id='map'></div>
</div>
<script src="../mapping/api.js"></script>
<script src="../mapping/mapLogic.js"></script>

<style>
#map { margin-top: 25px; width:100%; height: 800px; }
</style>
