<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<style>
div.pin {
  background-image : url('http://i.imgur.com/azbOsH2.jpg?1'); background-repeat : none; width : 30px; height : 40px;
}
</style>
<div id="start"></div>

<script src="../mapping/pins.js"></script>
