script(language='JavaScript').
    var back = function() {
        window.history.back();
    }


html

  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron<center>
        form(action='/api/user/login',method='post')
            p
              img(height='250' width='250' class='profile-img', src='http://i1.wp.com/www.techrepublic.com/bundles/techrepubliccore/images/icons/standard/icon-user-default.png')
            p
              input(type='text', name='username', placeholder='Username',required, autofocus)
            p
              input(type='password', name='password', placeholder='Password', required)
            p
              button(class='btn btn-lg btn-primary', type='submit') &nbsp;&nbsp; Sign in &nbsp;&nbsp;
        p
          button(class='btn btn-lg btn-primary', type='submit' onclick='back()') &nbsp;&nbsp; Cancel &nbsp;&nbsp;